In [3]:
import pandas as pd
df = pd.read_csv('scraping.csv')
df.head()

                                             Comment  Rating
0  From last 5 years my younger brother was using...       5
1  excellent phone camera is very nice and the st...       4
2  I have been using the earlier versions of iPho...       4
3  IMPORTANT NOTICEIf you buy some apple device o...       5
4  Well, what can I say... iPhone is awesome as e...       5

#### Number Of words

In [8]:
df['word_count'] = df['Comment'].apply(lambda x: len(str(x).split(" ")))
df[['Comment','word_count','Rating']].head()

                                             Comment  word_count  Rating
0  From last 5 years my younger brother was using...          89       5
1  excellent phone camera is very nice and the st...          30       4
2  I have been using the earlier versions of iPho...          72       4
3  IMPORTANT NOTICEIf you buy some apple device o...          69       5
4  Well, what can I say... iPhone is awesome as e...          76       5

####  Number of characters

In [10]:
df['char_count'] = df['Comment'].str.len() ## this also includes spaces
df[['Comment','char_count','Rating']].head()

                                             Comment  char_count  Rating
0  From last 5 years my younger brother was using...         465       5
1  excellent phone camera is very nice and the st...         174       4
2  I have been using the earlier versions of iPho...         400       4
3  IMPORTANT NOTICEIf you buy some apple device o...         443       5
4  Well, what can I say... iPhone is awesome as e...         444       5

#### Average length of Word

In [11]:
def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word) for word in words)/len(words))

df['avg_word'] = df['Comment'].apply(lambda x: avg_word(x))
df[['Comment','avg_word','Rating']].head()

                                             Comment  avg_word  Rating
0  From last 5 years my younger brother was using...  4.284091       5
1  excellent phone camera is very nice and the st...  4.833333       4
2  I have been using the earlier versions of iPho...  4.569444       4
3  IMPORTANT NOTICEIf you buy some apple device o...  5.434783       5
4  Well, what can I say... iPhone is awesome as e...  4.855263       5

#### Number of stopwords

In [12]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

df['stopwords'] = df['Comment'].apply(lambda x: len([x for x in x.split() if x in stop]))
df[['Comment','stopwords','Rating']].head()

                                             Comment  stopwords  Rating
0  From last 5 years my younger brother was using...         34       5
1  excellent phone camera is very nice and the st...         12       4
2  I have been using the earlier versions of iPho...         28       4
3  IMPORTANT NOTICEIf you buy some apple device o...         29       5
4  Well, what can I say... iPhone is awesome as e...         29       5

#### Number of special characters

In [13]:
df['hastags'] = df['Comment'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
df[['Comment','hastags','Rating']].head()

                                             Comment  hastags  Rating
0  From last 5 years my younger brother was using...        0       5
1  excellent phone camera is very nice and the st...        0       4
2  I have been using the earlier versions of iPho...        0       4
3  IMPORTANT NOTICEIf you buy some apple device o...        0       5
4  Well, what can I say... iPhone is awesome as e...        0       5

#### Number of numerics

In [14]:
df['numerics'] = df['Comment'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df[['Comment','numerics','Rating']].head()

                                             Comment  numerics  Rating
0  From last 5 years my younger brother was using...         3       5
1  excellent phone camera is very nice and the st...         0       4
2  I have been using the earlier versions of iPho...         0       4
3  IMPORTANT NOTICEIf you buy some apple device o...         0       5
4  Well, what can I say... iPhone is awesome as e...         0       5

#### Number of Uppercase words

In [15]:
df['upper'] = df['Comment'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df[['Comment','upper','Rating']].head()

                                             Comment  upper  Rating
0  From last 5 years my younger brother was using...      0       5
1  excellent phone camera is very nice and the st...      0       4
2  I have been using the earlier versions of iPho...      5       4
3  IMPORTANT NOTICEIf you buy some apple device o...      1       5
4  Well, what can I say... iPhone is awesome as e...      3       5